<h1>THESES ARE ALL THE TASKS - NOTHING ELSE</h1>
<ol>
  <% @tasks.each do |task| %>
    <p>
      <li>
        Task: <%= link_to "#{task.title}", task_path(id: task.id) %>
      </li>
    </p>
    <p>Event: <%= task.event.title %></p>
    <p>End Location: <%= task.location.name %></p>
  <% end %>
</ol>
