/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import 'bootstrap';


 .navbar-inverse {
     background-color: #EF7A85;
     border-color: #EF7A85;
 }

 .nav.navbar-nav li a {
     color: #FFC2E2;
     font-size: 20px;
 }

 .container {
   width: auto;
 }

 .jumbotron.hero-spacer {
   background-color: #6E44FF;
   color: #FFC2E2;
 }

ul.navbar-inverse a:hover { color: #FFC2E2 !important; }
